<!DOCTYPE html>
<html>
<head>
    <title>Alla Inl채gg</title>
</head>
<body>
    <%- include('partials/header') %>
    <h2>Alla Inl채gg</h2>
    <ul>
        <% posts.forEach(post => { %>
            <li><%= post %></li>
        <% }) %>
    </ul>
    <a href="/posts/new">Skapa ett nytt inl채gg</a>
    <a href="/posts/edit">redigera/ta bort inl채gg</a>
    <%- include('partials/footer') %>
</body>
</html>
